<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

<p>Hi <%=@user_from.first_name%>,</p>

<p>It looks like you've invited <%=@user_to.first_name%> <%=@user_to.last_name%> to speak in your class.  Now it's up to you guys to schedule a time for the event!  You're both CC'ed here on this email.</p>

<p>To ensure that your students are prepared for a successful conversation with the speaker, we have put together an important lesson plan for you to follow.  Please <%=link_to "CLICK HERE",curriculum_teacher_url %> and have your students perform the relevant activities before the speaker comes to your class.</p>

<p>Once you guys have connected for the event, please be sure to tell us how it goes by emailing us at this address.  Thanks again for helping open the minds of our next generation!</p>

<p>Sincerely,</p>

<p>The Class Speaker team</p>

</body>
</html>