<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	
	<div id="landing">
	  <div class="container">  
	    <div class="row">
		  <div class="span5">
		    <h2 class="lead">Connect students with <i>real</i> career options</h2>	
			<p class="lead">Bringing guest speakers into the classroom dramatically increases student motivation and engagement</p>
			<%if !user_signed_in?%>
            <p>
              <div class="container-fluid">
                <div class="row-fluid">
                  <div class="span6">
                   <%=link_to "I need a speaker", teacher_url,:class=>"btn btn-primary btn-action"%>
                  </div>
                  <div class="span6">
                     <a href="#myModal" role="button" class="btn btn-primary btn-action pull-right" data-toggle="modal">I want to speak</a>
                  </div>
                </div>
              </div>
            </p>
		  	<%end%>
		  </div>
		  <div class="span7">
		    <div class="js-video">
		    	<iframe src="http://player.vimeo.com/video/60953946" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/60953946">Class Speaker</a> from <a href="http://vimeo.com/user16822491">dave adox</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
		    </div>
		  </div>
		</div>
	  </div>
	</div>

	<div id="content" class="txt-middle">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
			<h2>Because <i>every</i> day should be "Career Day" <small>Share:</small> 
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.classspeaker.com" data-text="Check out @ClassSpeaker - a site that pairs teachers with great guest speakers for their classes." data-hashtags="edtech">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</h2>
		    <hr class="dashed">				
		  </div>  
		</div>  
	    <div class="row">
		  <div class="span4 bouncy">
		    <div class="icon_wrapper">
		      <i class="glyphicons-group index_icon"></i>
		    </div>
			<h2>Sample Speakers</h2>
			<div class="media">
			  <a class="pull-left" href="#">
			    <img class="media-object" data-src="holder.js/64x64">
			  </a>
			  <div class="media-body">
			    <h4 class="media-heading">Ponsonby Brit</h4>
			    <%= image_tag "guy.jpg", :size=>"50x75", :class=>"guy" %>
			    <ul>
			    	<li>Producer, director</li>
			    	<li>Rights Advocate</li>
			    	<li>San Francisco</li>
			    </ul>
			  </div>
			</div>
		  </div>
		  <div class="span4 bouncy">
		    <div class="icon_wrapper">
		      <i class="glyphicons-briefcase index_icon"></i>
		    </div>
			<h2>Popular Careers</h2>
			<ul>
				<li>Advertising Manager</li>
				<li>Factory Foreman</li>
				<li>Restaurant Manager</li>
				<li>Investment Banker</ali>
				<li>Software Developer</li>
			</ul>
		  </div>
		  <div class="span4 bouncy">
		    <div class="icon_wrapper">
		      <i class="glyphicons-bullhorn index_icon"></i>
		    </div>
			<h2>Testimonials</h2>
			<blockquote>
				<i>"My class speaker Dave inspired me to learn how to become a software developer. He literally changed my life's direction."</i>
				</br>
				<span class="pull-right"><small>John, Student, New York</small></span>
			</blockquote>
		  </div>		  
		</div>
		<hr class="dashed">				
    	
	  </div>
	</div>

	<div style="display: none; visibility: hidden;" id="footer">
	  <div class="container">
	    <div class="row">
		  <div class="span3">
			<h3>Quick Links</h3>
			<ul class="animated">
			  <li><a href="#">Home</a></li>
			  <li><a href="#">About Us</a></li>
			  <li><a href="#">Features</a></li>
			  <li><a href="#">Pricing</a></li>
			</ul>			
		  </div>
		  <div class="span3">		
			<h3>Company</h3>
			<ul class="animated">
			  <li><a href="#">Privacy Policy</a></li>
			  <li><a href="#">Terms of Use</a></li>
			  <li><a href="#">FAQ</a></li>
			</ul>	
		  </div>
		  <div class="span3">
			<h3>We're Social</h3>
			<ul class="animated">
			  <li><a href="#">Facebook</a></li>
			  <li><a href="#">Twitter</a></li>
			  <li><a href="#">Google &#43;</a></li>
			</ul>		  
		  </div>
		  <div class="span3">
			<h3>Subscribe</h3>
			<p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>			
		    <form>
              <input class="span3" type="text" placeholder="Your Email" name="subscribe">
			  <button class="btn btn-primary">Subscribe</button>
			</form>
		  </div>		  
		</div>	  
      </div>	  
    </div>

	<div id="copywrite">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
		    <p>&copy; 2013 Class Speaker <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p>			
		  </div>		  
		</div>	  
      </div>	  
    </div>

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header txt-middle">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">You're about to touch the future</h3>
  </div>
  <div class="modal-body txt-middle">
  	<div style="text-align:left;">Just tell us who you are, then teachers will be able to find you and invite you to speak.  YOU control which invitations you want to accept.
</div>
  </div>
  <div class="modal-footer">
  	    <%=link_to user_omniauth_authorize_path(:linkedin), :class=>"btn btn-primary" do %>
		    <%=image_tag 'linked.png', :size=>'30x30'%>  Sign in with LinkedIn
			<%end%>
  </div>
</div>

