  <div id="content" class="">
    <div class="container">
      <div class="row">
      	<div class="span12">
      		<h1><%=image_tag @speaker.image%> <%=@speaker.speaker_profile.career%></h1>
      		<%=link_to "Schedule an Engagement", "#", :class=>"btn btn-primary btn-large"%>
      	</div>
      </div>
    </div>
  </div>