  <div id="content" class="">
  	<div id="landing" style="margin-top: -30px;">
  		<div class="container">
		    <div class="row">
				  <div class="span12">
				    <h1>You are going to make this meaningful</h1>
				    <p>With proper preparation, your classroom speaking engagement can be one of the most memorable and influential experiences of these students' lives.</p>
				  </div>
			  </div>
  		</div>
  	</div>
    <div class="container">
      <div class="row">
      	<div class="span12">

						<div id="content">
						  <div class="container">			
						    <div class="row">
							  <div class="span6">	
								<h2>Pre-Engagement Checklist</h2>
								<ul>
									<li>Confirm a date, time, and location with the speaker</li>
									<li>Provide speaker with class profile and special needs</li>
									<li>Align visit with <a href="http://www.corestandards.org">common core</a> standards</li>
									<li>Have your students <a href"http://www.hoovers.com">research the speaker's career</a> in advance</li>
									<li>Have your students research the speaker on <a href="http://www.linkedin.com">LinkedIn</a>.</li>
									<li>Have your students PREPARE TWO QUESTIONS EACH</li>
									<li>Have a great visit!</li>
									<li>Post-visit options: Have students take a free online career test such as www.truecolorcareers.com OR do a project-based activity in class</li>
								</ul>
							  </div>
							  <div class="span6">	
							  	<div class="well">
										<h2>Common Core Alignment</h2>
										<h3>Language Arts</h3>
										<ul>
											<li>The standards require that students gain, evaluate, and present increasingly complex information, ideas, and evidence through listening and speaking as well as through media.</li>
							    			<li>An important focus of the speaking and listening standards is academic discussion in one‐on‐one, small‐group, and whole‐class settings. Formal presentations are one important way such talk occurs, but so is the more informal discussion that takes place as students collaborate to answer questions, build understanding, and solve problems.</li>
							    		</ul>

							    		<h3>Math</h3>
							    		<ul>
							    			<li>The high school standards call on students to practice applying mathematical ways of thinking to real world issues and challenges; they prepare students to think and reason mathematically.</li>
							    			<li>The high school standards set a rigorous definition of college and career readiness, by helping students develop a depth of understanding and ability to apply mathematics to novel situations, as college students and employees regularly do.</li>
							    			<li>The high school standards emphasize mathematical modeling, the use of mathematics and statistics to analyze empirical situations, understand them better, and improve decisions. For example, the draft standards state: “Modeling links classroom mathematics and statistics to everyday life, work, and decision-making. It is the process of choosing and using appropriate mathematics and statistics to analyze empirical situations, to understand them better, and to improve decisions.</li>
							    		</ul>
							    		<p>Source: National Governors Association Center for Best Practices, Council of Chief State School Officers</p>
						    	</div>
							 </div>
							</div>
						</div>
       	</div>
      </div>
    </div>
  </div>