  <div id="content" class="">
  	<div id="landing" style="margin-top: -30px;">
  		<div class="container">
		    <div class="row">
				  <div class="span12">
				    <h1>You are going to make this meaningful</h1>
				    <p>With proper preparation, your classroom speaking engagement can be one of the most memorable and influential experiences of these students' lives.</p>
				  </div>
			  </div>
  		</div>
  	</div>
    <div class="container">
      <div class="row">
      	<div class="span12">

						<div id="content">
						  <div class="container">			
						    <div class="row">
							  <div class="span6">	
								<h2>Pre-Engagement Checklist</h2>
								<ul>
									<li>Confirm a date, time, and location with the teacher</li>
									<li>Ensure you have a thorough understanding of the classroom dynamics</li>
									<li>Determine if there are any special needs students who may need modifications to your plan
									<li>Gain a concrete understanding of how your content would align with the current curriculum</li>
									<li>Create any visual aids or props you might want to bring to class</li>
									<li>Show up and have fun!</li>
								</ul>
							  </div>
							  <div class="span6">	
							  	<div class="well">
										<h2>Other Best Practices</h2>
										<ul>
											<li>Be prepared to give a "day in the life" snapshot of your job - in very simple terms</li>
						    			<li>Only introduce yourself for 5-10 minutes MAX. The students should be prepared with lots of questions for you</li>
						    			<li>Be mindful short attention spans.  Try not to ever speak for more than 10 minutes straight without some student engagement</li>
						    			<li>Attack pre-conceived notions.  Students will likely have very different stereotypes about your actual day-to-day job</li>
						    			<li>Focus on the important steps in your life that led to where your career is today.  What do you wish you could have told yourself back in school, to make you better prepared?</li>
						    			<li>Think of this as a "pitch" for your career path, but with honest caveats.  What are the highs and lows?</li>
						    		</ul>
						    	</div>
							 </div>
							</div>
						</div>
       	</div>
      </div>
    </div>
  </div>