  <div id="content" class="">
    <div class="container">
      <div class="row">
      	<div class="span12">
      		<%if @profile.new_record?%>
      			<h2>Welcome,</h2>
      			<p>Please answer some questions to help teachers find you</p>
      			<%=render 'user/profile_form'%>
      		<%else%>
      			<% if !flash[:success].nil?%>
            <script>
            $(document).ready(function(){
              $('.thanks-message').click();
            });
            </script>
      		<%end%>
          <%=render 'user/info',:speaker=>@user%>
      		<%end%>
        </div>
      </div>
    </div>
  </div>

  <!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn thanks-message" data-toggle="modal" style="display:none;">Launch demo modal</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">You're in!</h3>
  </div>
  <div class="modal-body">
    You'll receive an email if a teacher invites you to speak in their class.<br>
  </div>
  <div class="modal-footer">
        <button class="btn btn-small pull-right" data-dismiss="modal" aria-hidden="true">Ok</button>
 <div class="pull-right" style="margin-right:10px;padding-top:3px;width:90px;height:20px;overflow:hidden;"><a href="https://twitter.com/share" class="twitter-share-button" data-text="I'm volunteering to speak to students about my career. You should too! http://bit.ly/classSpeaker #edtech" data-count="none">Tweet</a></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
