  <div id="content" class="">
    <div class="container">
      <div class="row">
      	<div class="span12">
      		<%if @profile.new_record?%>
      			<h2>Welcome,</h2>
      			<p>Please answer some questions to help teachers find you</p>
      			<%=render 'user/profile_form'%>
      		<%else%>
      			<% if !flash[:success].nil?%>
      			<div class='alert alert-success'>
      				<button type="button" class="close" data-dismiss="alert">&times;</button>
      				<%=flash[:success]%>
      			</div>
      			<%end%>
      			<%=link_to "edit profile", edit_profile_url, :class=>"btn pull-right"%>
      		<%end%>
        </div>
      </div>
    </div>
  </div>

  <!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn thanks-message" data-toggle="modal" style="display:none;">Launch demo modal</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
