/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .reg-in {
	background:#eeeeee;
	border-radius:5px;
	width:200px;
 }

 tr, td {
 	vertical-align:middle;
 	padding:0 10px 10px 10px;
 }

 .nav-pic{
 	margin-right:10px;
 	margin-left:10px;
 }

 .ui-helper-hidden-accessible{
 	display: none;
 }

 a.ui-corner-all{}

 ul.ui-autocomplete{
 	position: absolute;
 	top:0;
 	list-style: none;
 	margin: 8px;
 	padding: 0;
 	border: solid 1px #999;
 	cursor: default;
 }

  li.ui-menu-item{
  	background-color: #fff;
  	border-top: 1px solid #ddd;
  	margin: 0px;
  	padding: 0px;
 }

 a.ui-corner-all{
 	color: #000;
 	display: block;
 	padding:3px;
 }

 a.ui-state-hover, a.ui-state-active{
 	color:#FFFCB2;
 }